@model List<ResultSliderDto>

    <section class="slider_section ">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @foreach (var item in Model)
                {
                    <div class="carousel-item @(Model[0].SliderId == item.SliderId ? "active":"")">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 col-lg-6 ">
                                    <div class="detail-box">
                                        <h1>@item.SliderTitle</h1>
                                        <p>@item.SliderSubTitle</p>
                                        <div class="btn-box">
                                            <a href="@item.SliderLink" class="btn1">Şimdi Başla</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="container">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <li data-target="#customCarousel1" data-slide-to="@i" class="@(i == 0 ? "active":"")"></li>
                    }
                </ol>
            </div>
        </div>
    </section>