
<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="/AdminTemplate/img/profile.jpg">
			</div>
			<div class="info">

				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Hizrian
						<span class="user-level">Administrator</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">My Profile</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Edit Profile</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Settings</span>
							</a>
						</li>
					</ul>
				</div>

			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a asp-controller="Home" asp-action="Index">
					<i class="la la-dashboard"></i>
					<p>Siteye Dön</p>
				</a>
			</li>
			<li class="nav-item @ViewBag.homeActive">
				<a asp-controller="Admin" asp-action="Index">
					<i class="la la-dashboard"></i>
					<p>Dashboard</p>
				</a>
			</li>
			<li class="nav-item @ViewBag.orderActive">
				<a asp-controller="Order" asp-action="OrderList">
					<i class="la la-dashboard"></i>
					<p>Siparişler</p>
				</a>
			</li>
			<li class="nav-item @ViewBag.aboutActive">
				<a asp-controller="About" asp-action="AboutList">
					<i class="la la-dashboard"></i>
					<p>Hakkımızda</p>
				</a>
			</li>
			<li class="nav-item @ViewBag.bannerActive">
				<a asp-controller="Banner" asp-action="BannerList">
					<i class="la la-dashboard"></i>
					<p>Banner</p>
				</a>
			</li>
			<li class="nav-item @ViewBag.bookingActive">
				<a asp-controller="Booking" asp-action="BookingList">
					<i class="la la-dashboard"></i>
					<p>Rezervasyonlar</p>
				</a>
			</li>
			<li class="nav-item @ViewBag.categoryActive">
				<a asp-controller="Category" asp-action="CategoryList">
					<i class="la la-dashboard"></i>
					<p>Kategoriler</p>
				</a>
			</li>
			<li class="nav-item @ViewBag.productActive">
				<a asp-controller="Product" asp-action="ProductList">
					<i class="la la-dashboard"></i>
					<p>Ürünler</p>
				</a>
			</li>
			<li class="nav-item @ViewBag.sliderActive">
				<a asp-controller="Slider" asp-action="SliderList">
					<i class="la la-dashboard"></i>
					<p>Slider</p>
				</a>
			</li>
			<li class="nav-item @ViewBag.testimonialActive">
				<a asp-controller="Testimonial" asp-action="TestimonialList">
					<i class="la la-dashboard"></i>
					<p>Deneyimleyenler</p>
				</a>
			</li>
		</ul>
	</div>
</div>