@model GetFirstContactDto

    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4>İletişim</h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>@Model.ContactAddress</span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>@Model.ContactPhone</span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>@Model.ContactMail</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a href="" class="footer-logo">Feane</a>
                        <p>Fast food dünyasında lezzet ve kaliteyi bir araya getiren öncü bir markayız. Taze ve özenle seçilmiş malzemelerle hazırladığımız yiyeceklerimizle, her damak zevkine hitap eden geniş bir menü sunuyoruz. </p>
                        <div class="footer_social">
                            @foreach (var item in ViewBag.socialMedias)
                            {
                                <a target="_blank" href="@item.SocialMediaLink">
                                    @Html.Raw(item.SocialMediaIcon)
                                </a>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4>Çalışma Saatleri</h4>
                    <p>Her Gün</p>
                    <p>10:00 - 02:00</p>
                </div>
            </div>
            <div class="footer-info">
                <p>Bu Web Sitesi OĞUZHAN TURAN Tarafından Yapılmıştır</p>
            </div>
        </div>
    </footer>