    <section class="food_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>Men端m端z</h2>
            </div>

            <ul class="filters_menu">
                <li class="active" data-filter="*">T端m端</li>
                @foreach (var item in Model)
                {
                    <li data-filter=".@item.CategoryId">@item.CategoryName</li>
                }
            </ul>

            <div class="filters-content">
                <div class="row grid">
                    
                    @foreach (var item in Model)
                    {
                        foreach (var item2 in item.Products)
                        {
                            <div class="col-sm-6 col-lg-4 all @item2.CategoryId">
                                <div class="box">
                                    <div>
                                        <div class="img-box">
                                            <img src="@item2.ProductImage" alt="">
                                        </div>
                                        <div class="detail-box">
                                            <h5>@item2.ProductName</h5>
                                            <p>Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque</p>
                                            <div class="options">
                                                <h6>@item2.ProductPrice.ToString("c")</h6>
                                                <a href="#"><i style="color: #fff;" class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    
                </div>
            </div>
            <div class="btn-box">
                <a href="#">Daha Fazla...</a>
            </div>
        </div>
    </section>